<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">Customers</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>
             <button type="button" name="edit" [routerLink]="['/customer/form', customer.id]" class="btn btn-primary btn-sm"><span class="bi bi-pencil"></span></button>
             <button type="button" name="delete" (click)='delete(customer)' class="btn btn-danger btn-sm"><span class="bi bi-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
