<div class="card border-primary mb-3">
  <div class="card-body text-primary">
    <h5 class="card-title">Orders</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Quantity</th>
          <th>Order</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of orderItems">
          <td>{{orderItem.id}}</td>
          <td>{{orderItem.quantity}}</td>
          <td>{{orderItem.order}}</td>
          <td>
           <button type="button" name="edit" [routerLink]="['/orderItem/form', orderItem.id]" class="btn btn-primary btn-sm"><span class="bi bi-pencil"></span></button>
           <button type="button" name="delete" (click)='delete(orderItem)' class="btn btn-danger btn-sm"><span class="bi bi-trash"></span></button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
